.h1{
    font-weight: bold;
}
img{
    height: 200px;
    width: 200px;
    
}
.color-title{
    font-size: x-large;
    font-weight: 5000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#red{
    color: red;    
}
#blue{
    color: rgb(0, 191, 255);    
}
#orange{
    color: rgb(255, 123, 0);    
}
#green{
    color: rgb(23, 89, 3);    
}
#yellow{
    color: rgb(255, 251, 0);    
}